.app-header {
  background: var(--bgc-primary-850);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  z-index: 999;
  padding: 0 44px;
  height: 120px;
  div {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    span {
      color: var(--txt-primary-100);
    }
    strong {
      color: var(--txt-secondary-900);
    }
  }
  ion-avatar {
    margin: 40px 0;
    width: 56px;
    height: 56px;
  }
}

#background-content {
  background: var(--bgc-primary-800) !important;
}

.app-background-center-post {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bgc-primary-800);
  font-family: "Roboto Slab", serif;
  color: var(--txt-primary-100);
  padding: 16px;
  position: relative;
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: var(--bgc-primary-800);
  }
  ion-card {
    margin-inline: 0;
    background: var(--bgc-primary-900);
    padding: 16px;
    > img {
      border-radius: 8px !important;
    }
    div.post-header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      font-family: var(--font-family);
      > img {
        width: 46px;
        height: 46px;
      }
      .profile-info {
        display: flex;
        flex-direction: column;
        margin-left: 0.7rem;
        strong {
          color: var(--txt-primary-100);
          font-size: 1rem;
          line-height: 1.5rem;
        }
        span {
          color: var(--txt-primary-300);
          font-style: italic;
          font-size: 0.8rem;
        }
      }
    }
    strong.card-title {
      font-size: 0.8rem;
    }

    p.card-body {
      color: var(--txt-primary-200);
      font-family: var(--font-family);
      margin-top: 0;
    }
  }
}

ion-button.new-post {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 999;
  --background: var(--bgc-secondary-900);
  --border-radius: 25px !important;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
